.errorMessage {
  padding: get-size("400");
  border: 2px solid get-color("quaternary-shade");
  margin-bottom: get-size("700");
  border-radius: 0.25rem;
  color: get-color("quaternary-shade");

  p {
    margin: 0;
  }
}
