.input-container {
  display: flex;
  align-items: flex-start;
  justify-items: center;

  span {
    padding: 0.5rem 1rem;
    border: 0.15rem solid get-color("dark");
    cursor: pointer;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-left: none;
    background-color: get-color("light-glare");
  }

  input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}
