.margin-top-300 {
  margin-top: get-size("300");
}

.margin-top-400 {
  margin-top: get-size("400");
}

.margin-top-500 {
  margin-top: get-size("500");
}

.margin-top-600 {
  margin-top: get-size("600");
}

.margin-top-700 {
  margin-top: get-size("700");
}

.margin-bottom-300 {
  margin-top: get-size("300");
}

.margin-bottom-400 {
  margin-top: get-size("400");
}

.margin-bottom-500 {
  margin-bottom: et-size("500");
}

.margin-bottom-600 {
  margin-bottom: et-size("600");
}

.margin-bottom-700 {
  margin-bottom: et-size("700");
}
