.successMessage {
  padding: get-size("400");
  border: 2px dashed get-color("primary");
  margin-bottom: get-size("700");
  width: max-content;

  p {
    margin: 0;
    max-width: 25ch;

    span {
      color: get-color("primary");
    }
  }
}

.message {
  padding: get-size("400");
  border: 2px dashed get-color("primary");

  p {
    margin: 0;
    max-width: 25ch;
  }
}
