{% set assetHash = global.random() %} {% set css = styles %} {% set js = scripts
%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta.html" %}

    <style>
      {% include "css/critical.css" %}
    </style>

    {% if pageCriticalStyles %} {% for item in pageCriticalStyles %}
    <style>
      {% include item %}
    </style>
    {% endfor %} {% endif %}

    <link
      rel="stylesheet"
      media="print"
      href="/fonts/fonts.css?{{ assetHash }}"
      onload="this.media='all'"
    />

    {% if pageStylesheets %} {% for item in pageStylesheets %}
    <link
      rel="stylesheet"
      media="print"
      href="{{ item }}?{{ assetHash }}"
      onload="this.media='all'"
    />
    {% endfor %} {% endif %}

    <!-- non critical css -->
    {% if css %} {% for item in css %}
    <link
      rel="stylesheet"
      media="print"
      href="{{ item }}?{{ assetHash }}"
      onload="this.media='all'"
    />
    {% endfor %} {% endif %}
    <!-- webfonts  -->

    <!-- scripts -->
    {% if js %} {% for item in js %}
    <script defer src="{{ item }}"></script>
    {% endfor %} {% endif %}
    <!-- scripts -->
  </head>
  {% set class = classify %}
  <body {% if class %} class="{{ class }}" {% endif %}>
    {% include "partials/site-head.html" %}

    <main
      tabindex="-1"
      id="main-content"
      {%
      if
      class
      %}
      class="{{ class }}"
      {%
      endif
      %}
    >
      {% block content %} {% endblock %}
    </main>

    {% include "partials/footer.html" %}
  </body>
</html>
