{% extends 'layouts/base.html' %} {% set pageCriticalStyles = ['css/home.css']
%} {% block content %}
<div class="wrapper">
  <article class="intro">
    <div class="intro__content">
      <h1 class="text-800 weight-bold">
        Save in a way that <br />
        suits you with,
        <span class="weight-normal text-600">more financial happiness.</span>
      </h1>
      <ul class="intro__list">
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span>
            Create multiple saving funds in minutes and enjoy our full
            transparency support.
          </span>
        </li>

        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span>
            Grow your savings, enjoy higher returns on your money with zero
            transaction fees and no hidden cost.
          </span>
        </li>

        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span>
            Stay in control and easily manage your contributions, earnings and
            cashouts in realtime.
          </span>
        </li>

        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span>
            Get access to safe personal financial products to help you stay
            convenient and save towards your goals.
          </span>
        </li>

        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span>
            Save for the things that matter with custom defined funds to stay
            consistent and let your money work in your favour.
          </span>
        </li>

        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            />
          </svg>
          <span>
            Get insights on financial matters to set you on the good track.
          </span>
        </li>
      </ul>

      {% include "partials/open-account.html" %}

      <a href="{{ intro.buttonUrl }}" class="button">
        {{ intro.buttonText }}
      </a>
    </div>

    <div class="intro__images">
      <figure>
        <img
          src="/images/bg/personal_goal.webp"
          alt=" Saving is hard, so we made it simpler."
        />
        <figcaption class="text-400 weight-normal">
          Savings made simpler.
        </figcaption>
      </figure>

      <figure>
        <img
          src="/images/bg/saving-lady.webp"
          alt="Your biggest personal goal made easy."
        />
        <figcaption class="text-400 weight-normal">
          Your saving is your future.
        </figcaption>
      </figure>
    </div>
  </article>

  <article class="work" id="how-it-works">
    <div class="work__header">
      <h2 class="text-800 weight-bold">
        How it works
        <span class="weight-normal text-600">in 4 simple steps</span>
      </h2>
      <p>
        <span class="site-name">Keke.Money</span> is the suitable way to create
        saving funds and manage your money.
      </p>
    </div>

    <div class="work__content">
      <ol>
        <li>Give a custom name to your fund as you wish.</li>
        <li>Easily lock your fund to help you stay consistent.</li>
        <li>
          Start depositing money into your fund just as you do with Susubox.
        </li>
        <li>Cashout anytime when the fund is unlocked.</li>
      </ol>

      {% include "partials/open-account.html" %}

      <a href="{{ intro.buttonUrl }}" class="button">
        {{ intro.buttonText }}
      </a>
    </div>
  </article>

  <article class="partners">
    <div class="partners__header">
      <h2 class="text-800 weight-bold">Trusted by</h2>
    </div>

    <div class="partners__content">
      <figure>
        <img src="/images/partners/absa.webp" alt="Absa Bank Ghana" />
        <figcaption><a href="/">Absa Bank Ghana</a></figcaption>
      </figure>

      <figure>
        <img src="/images/partners/fidelity.webp" alt="Fidelity Bank Ghana" />
        <figcaption><a href="/">Fidelity Bank Ghana</a></figcaption>
      </figure>
    </div>
  </article>

  <article class="quote-container">
    <h2 class="text-800 weight-bold">
      Get Inspired
      <span class="weight-normal text-600">
        Life's spicy with rich words.
      </span>
    </h2>

    <div class="quotations">
      {% set quoteItems = global.arrayRandom(quote.items, 2) %}
      <!-- for loop -->
      {% for item in quoteItems %}
      <figure aria-label="{{ item.count }}">
        <img src="{{ item.image }}" alt="{{ item.caption }}" class="radius" />
        <div class="quote">
          <blockquote>{{ item.text }}</blockquote>
          <figcaption>{{ item.cite }}</figcaption>
        </div>
      </figure>
      {% endfor %}
    </div>

    {% include "partials/open-account.html" %}
  </article>
</div>
{% endblock %}
