{% extends 'layouts/base.html' %} {% set pageCriticalStyles = ['css/home.css']
%} {% block content %}
<div class="wrapper">
  <article class="intro">
    <div class="intro__content">
      <h1 class="text-800 weight-bold">
        {{ intro.eyebrow }}
        <span class="weight-normal text-600">{{ intro.main }}</span>
      </h1>
      <p class="intro__summary">
        Imagine how good you'd be at doing something if you'd done it without
        interruption, delay and disturbance.
      </p>
      <p>
        At <span class="site-name">Keke<span>.</span>Money</span>, you prolly
        don't need that paperwork thing getting into your way. We help you to
        conveniently create <strong>sustainable saving funds</strong> so that
        you can be consistent.
      </p>
      <a href="{{ intro.buttonUrl }}" class="button">
        {{ intro.buttonText }}
        <span class="text-300 weight-normal">it's easy.</span>
      </a>
    </div>

    <figure>
      <img
        src="/images/bg/personal_goal.webp"
        alt="Your biggest personal goal made easy."
        class="radius"
      />
      <figcaption class="text-400 weight-normal">
        Your biggest personal goal sorted, you're now consistent.
      </figcaption>
    </figure>
  </article>

  <article class="work" id="how-it-works">
    <div class="work__header">
      <h2 class="text-800 weight-bold">
        How it works
        <span class="weight-normal text-600">in 4 simple steps</span>
      </h2>
      <p>
        <span class="site-name">Keke<span>.</span>Money</span>
        {{site.description }}
      </p>
    </div>

    <div class="work__content">
      <ol>
        <li>
          Be creative and name your fund. It's your way. Eg Kitchen Susu Fund,
          etc.
        </li>
        <li>Put at least a year withdrawal lock period on the fund.</li>
        <li>
          Start depositing money into your fund just as you do with Susubox.
        </li>
        <li>You Withdraw or relock when the lock period elapsed.</li>
      </ol>

      <p>Stay convenient. Be consistent. Let your fund become sustainable.</p>

      <a href="{{ intro.buttonUrl }}" class="button">
        {{ intro.buttonText }}
        <span class="text-300 weight-normal">it's easy.</span>
      </a>
    </div>
  </article>

  <article class="quotes">
    <h2 class="text-800 weight-bold">
      Get Inspired
      <span class="weight-normal text-600"
        >want to get into the savings habit?</span
      >
    </h2>

    <div class="quotations">
      {% for item in quote.items %}
      <figure aria-label="{{ item.count }}">
        <img src="{{ item.image }}" alt="{{ item.caption }}" />
        <div class="quote">
          <blockquote>{{ item.text }}</blockquote>
          <figcaption>{{ item.cite }}</figcaption>
        </div>
      </figure>
      {% endfor %}
    </div>
  </article>
</div>
{% endblock %}
