{% extends 'layouts/base.html' %} {% set pageHeaderTitle = title %} {% set
pageHeaderSummary = content %} {% set pageCriticalStyles = ['css/account.css']
%} {% block content %}
<div class="wrapper">
  <article class="account">
    {% include "partials/page-header.html" %}

    <form action="" class="login-form" id="loginForm">
      <label for="email">Your email address</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email address here"
        required
        aria-required="true"
      />

      <label for="password">Your password</label>
      <div class="manage-password">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password here"
          class="password"
          required
          aria-required="true"
        />
        <span class="show-password"><i class="far fa-eye-slash"></i></span>
      </div>

      <button type="submit">Login</button>
    </form>
  </article>
</div>
{% endblock %}
