{% extends 'layouts/base.html' %} {% set pageHeaderTitle = title %} {% set
pageHeaderSummary = content %} {% set pageCriticalStyles = ['css/account.css']
%} {% block content %}
<div class="wrapper">
  <article class="account">
    {% include "partials/page-header.html" %}

    <form class="login-form" id="loginForm">
      <div class="[ errorMessage ] [ visually-hidden ]" id="phoneError"></div>

      <label for="phone">
        Enter your phone to login.
        <span class="tip weight-normal text-400">
          Tip: Example, 024XXXXXXX
        </span>
      </label>
      <input
        type="tel"
        name="phone"
        id="phone"
        placeholder="Phone number here"
        required
        pattern="0[0-9]{9}"
        minlength="10"
        maxlength="10"
        title="Ten digit local phone number beginning with zero(0)"
        aria-required="true"
      />

      <button type="submit">Send me code</button>
    </form>

    <div id="recaptcha-container" class="recaptcha"></div>

    <!-- // Code verification form -->
    <form class="visually-hidden" id="phoneCodeForm" aria-hidden="true">
      <div class="[ errorMessage ] [ visually-hidden ]" id="codeError"></div>

      <label for="phoneCode">Enter the code sent to your phone number.</label>
      <input
        type="text"
        name="phoneCode"
        id="phoneCode"
        pattern="[0-9]{6}"
        placeholder="Enter the six digit code here."
        title="Enter a six digit code sent to your phone."
        required
        aria-required="true"
      />

      <button type="submit" id="phoneCodeButton">verify.</button>
    </form>
  </article>
</div>
{% endblock %}
