{% extends 'layouts/base.html' %} {% set pageHeaderTitle = title %} {% set
pageHeaderSummary = content %} {% set pageCriticalStyles = ['css/account.css']
%} {% block content %}
<div class="wrapper">
  <article>{% include "partials/page-header.html" %}</article>
  <article id="emailVerified" class="visually-hidden" aria-hidden="true">
    <div class="successMessage" id="successMessage" aria-hidden="true">
      <p>
        Email successfully verified! Welcome back. Please click on the link to
        continue.
      </p>
    </div>

    <a class="button" id="loginReturnButton" href="/login">please login</a>
  </article>

  <article
    class="[ account ] [ visually-hidden ]"
    id="newUser"
    aria-hidden="true"
  >
    <div class="[ errorMessage ] [ visually-hidden ]" id="errorMessage"></div>
    <!-- // signup form -->
    <form class="account-form" id="onboardForm">
      <label for="fullname">Your full name</label>
      <input
        type="text"
        name="fullname"
        pattern="[a-zA-Z ]+"
        id="fullname"
        placeholder="Full name here"
        required
        title="The name should not contain a number or a special character."
        aria-required="true"
      />

      <label for="phone">
        Enter your phone number
        <span class="tip weight-normal text-400">
          Tip: Example, 024XXXXXXX
        </span>
      </label>
      <input
        type="tel"
        name="phone"
        id="phone"
        placeholder="Phone number here"
        required
        pattern="0[0-9]{9}"
        minlength="10"
        maxlength="10"
        title="Ten digit local phone number beginning with zero(0)"
        aria-required="true"
      />

      <div class="divider"></div>

      <label for="email">Enter your email address for a secure link. </label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email address here"
        disabled
        aria-disabled="true"
      />

      <label for="country">Your country</label>
      <input
        type="text"
        name="country"
        pattern="[a-zA-Z ]+"
        id="country"
        required
        disabled
        aria-disabled="true"
        aria-required="true"
      />

      <button type="submit" id="signupButton">create account</button>
    </form>
  </article>

  {% include "partials/success_signup.html" %}
</div>
{% endblock %}
