{% extends 'layouts/base.html' %} {% set pageHeaderTitle = title %} {% set
pageHeaderSummary = content %} {% set pageCriticalStyles = ['css/account.css']
%} {% block content %}
<div class="wrapper">
  <article class="account">
    {% include "partials/page-header.html" %}

    <form class="account-form" id="loginForm" action="/pages/success">
      <div class="[ errorMessage ] [ disabled ]" id="errorMessage"></div>

      <label for="email">Enter your email address for a secure link.</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email address here"
        required
        aria-required="true"
      />

      <button type="submit" id="loginButton">Send me secure link.</button>
    </form>
  </article>
</div>
{% endblock %}
