{% extends 'layouts/base.html' %} {% set pageHeaderTitle = title %} {% set
pageHeaderSummary = content %} {% set pageCriticalStyles = ['css/account.css']
%} {% block content %}
<div class="wrapper">
  <article class="account">
    {% include "partials/page-header.html" %}

    <div class="[ successMessage ] [ disabled ]" id="successMessage">
      <p>
        Success. A message was sent to your email account with a link, click on
        the link and open it in this browser to continue.
      </p>
    </div>

    <!-- // signup form -->
    <form class="account-form" id="signupForm">
      <div class="[ errorMessage ] [ disabled ]" id="errorMessage"></div>

      <label for="email">Enter your email address for a secure link. </label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email address here"
        required
        aria-required="true"
      />

      <button type="submit" id="signupButton">send me secure link</button>
    </form>
  </article>
</div>
{% endblock %}
