.button {
  border-radius: 0.25rem;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  background-color: get-color("primary");
  color: get-color("light-glare");
  border: 2px solid get-color("dark-shade");
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  @include apply-utility("font", "sans");
  @include apply-utility("weight", "bold");

  &:hover {
    background-color: get-color("quaternary") !important;
    color: get-color("dark-shade") !important;
  }

  &[data-variant="ghost"] {
    background: transparent;
    color: get-color("quaternary-glare");
  }
}
