form {
  input,
  textarea,
  select {
    width: 100%;
    padding: 0.5rem;
    border: 0.15rem solid get-color("dark");
    border-radius: 0.25rem;
    caret-color: get-color("quaternary-shade");
    border: 0.15rem solid get-color("dark");
    display: block;
    margin-bottom: get-size("700");
    background-color: get-color("light");
  }

  select {
    text-align: center;
  }

  h3 + label {
    margin-top: get-size("500");
    display: block;
  }

  h3 {
    margin-top: 0;
  }

  input[type="file"] {
    opacity: 0;
    margin-bottom: 0;
    padding: 0;
    height: 0;
    width: 0;
  }

  input[type="file"] + label {
    width: max-content;
    padding: 0.5rem;
    background-color: get-color("dark");
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 0.3rem;
    display: block;
  }

  input:focus,
  textarea:focus {
    background-color: get-color("light-glare");
    outline: 0;
  }

  input:valid {
    border-color: get-color("primary");
  }

  input:invalid {
    border-color: currentColor;
  }

  textarea {
    position: relative;
  }

  button {
    appearance: none;
    width: max-content;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem 0;
    background-color: get-color("primary");
    color: get-color("light-glare");
    border: 2px solid get-color("dark-shade");
    text-transform: uppercase;
    text-align: center;
    display: block;
    width: 100%;

    @include apply-utility("font", "sans");
    @include apply-utility("weight", "bold");

    &:hover,
    &:active {
      background-color: get-color("quaternary") !important;
      color: get-color("dark-shade") !important;
    }
  }

  .divider {
    margin-top: get-size("700");
  }
}
