.fundModal {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  @include media-query("lg") {
    > *:first-child {
      max-width: 27%;
    }
  }
}

.account-info {
  padding: get-size("400");
  border: 2px solid #ddd;
  border-radius: 0.25rem;

  .personalInfo {
    margin-bottom: get-size("700");
  }

  span {
    display: block;
  }
}

.all-funds {
  .eachFund {
    padding: get-size("400");
    border: 2px solid #ddd;
    border-radius: 0.25rem;
    width: 18rem;

    span {
      display: block;
    }

    .details {
      margin-top: get-size("300");
      margin-bottom: get-size("300");
    }

    .name {
      color: get-color("quaternary");
    }
  }

  .eachFund + .eachFund {
    margin-top: get-size("500");
  }

  a {
    text-decoration: none;
    color: get-color("tertiary");
  }

  .table {
    i {
      color: get-color("quaternary");
      margin-left: get-size("600");
      cursor: pointer;
    }
  }

  @include media-query("lg") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: get-size("700");
    align-items: start;
    justify-items: start;

    .eachFund + .eachFund {
      margin-top: 0;
    }
  }
}

.section {
  margin-top: get-size("700");

  p,
  h2 {
    margin: 0;
    max-width: 30ch;
  }

  h2 {
    margin-bottom: get-size("300");
  }
}

.setting-modal {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;

  p {
    max-width: 30ch;
  }
}
