.intro {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  &__images {
    margin-top: get-size("700");

    figure + figure {
      margin-top: get-size("700");
    }

    img {
      width: 100%;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }

    figcaption {
      padding: 0.3rem;
      text-align: center;
      background-color: get-color("dark-shade");
      color: get-color("light-glare");
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  &__content {
    h1 {
      max-width: 30ch;

      span {
        display: block;
      }
    }
  }

  &__list {
    li {
      display: flex;
      align-items: flex-start;
      margin-top: get-size("600");

      svg {
        width: 1.5em;
        height: 1.5em;
        color: get-color("primary");
        flex-shrink: 0;
      }

      span {
        max-width: 40ch;
        margin-left: get-size("400");
      }
    }

    li:last-child {
      margin-bottom: get-size("600");
    }
  }

  @include media-query("lg") {
    &__images {
      margin-top: 0;
    }
  }
}
