.intro {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  figure {
    width: 100%;
    margin-top: get-size("700");
  }

  img {
    width: 100%;
  }

  figcaption {
    padding: 0.3rem;
    text-align: center;
    background-color: get-color("dark-glare");
    color: get-color("light");
  }

  &__content {
    padding: get-size("500");
    border: 2px solid get-color("primary");
    border-radius: 0.25rem;

    h1 span {
      display: block;
    }

    p {
      max-width: 45ch;
    }
  }

  @include media-query("lg") {
    figure {
      width: 40%;
      margin-top: 0;
    }
  }
}
