.manage-password {
  display: flex;
  align-items: flex-start;
  justify-items: center;
}

.show-password {
  padding: 0.5rem 1rem;
  border: 0.15rem solid get-color("dark");
  cursor: pointer;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-left: none;
  background-color: get-color("light-glare");
}

.manage-password input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
