.quote-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  h2 {
    margin-bottom: get-size("500");
    margin-right: get-size("700");

    span {
      max-width: 20ch;
      display: block;
    }
  }

  .quotations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    figure + figure {
      margin-top: get-size("700");
    }

    figure {
      width: 20rem;

      img {
        width: 100%;
      }

      .quote {
        padding-top: get-size("400");
      }

      blockquote {
        border-inline-start: 0.3rem solid get-color("quaternary-shade");
        padding-inline-start: get-size("400");
        padding-bottom: get-size("400");
        margin-top: get-size("400");
        margin-bottom: 0;
        font-style: italic;
      }

      figcaption {
        margin-top: get-size("400");
        border: 2px solid get-color("dark-shade");
        border-radius: 0.25rem;
        width: max-content;
        padding: 0.3rem get-size("400");
      }
    }
  }

  @include media-query("lg") {
    .quotations {
      figure + figure {
        margin-top: 0;
        margin-left: get-size("700");
      }
    }
  }
}
