.section {
  margin-top: get-size("500");

  p,
  h2 {
    margin: 0;
    max-width: 30ch;
  }

  h2 {
    margin-bottom: get-size("300");
  }

  ul {
    margin-bottom: get-size("500");
    border: 0.1rem solid get-color("dark-glare");
    border-radius: 0.25rem;

    li {
      padding: 0.3rem 0.8rem;
      color: get-color("primary");
      text-align: center;
      font-weight: normal;
    }

    li + li {
      border-top: 0.1rem solid get-color("dark-glare");
    }

    .heading {
      color: get-color("quaternary-shade");
      text-align: center;
      background-color: get-color("dark-glare");
    }

    .locked {
      color: get-color("dark-shade");
      text-align: center;
    }

    .unlocked {
      background-color: get-color("primary");
      text-align: center;
    }
  }

  @include media-query("md") {
    ul {
      margin-right: get-size("500");
      margin-bottom: get-size("700");
    }
  }

  @include media-query("lg") {
    ul {
      margin-right: get-size("500");
      margin-bottom: get-size("700");
    }
  }
}
