.site-foot {
  padding: get-size("600");
  background-color: get-color("dark-shade");
  color: get-color("light");
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    > * {
      padding-inline-end: get-size("400");
      padding-block-end: get-size("400");
    }
  }

  &__link {
    color: currentColor;
  }

  &__contact {
    p span {
      color: get-color("quaternary-shade");
    }
  }

  p {
    margin: 0;
    max-width: 30ch;
  }

  &__about,
  &__contact,
  &__general {
    margin-top: get-size("600");
  }

  &__about,
  &__contact,
  &__general {
    margin-bottom: get-size("500");
  }

  @include media-query("lg") {
    &__list {
      max-width: 30vw;
    }
  }
}
