.user-form {
  margin-top: get-size("500");
  padding: get-size("400");
  border: 0.2rem solid get-color("primary-glare");
  border-radius: 0.25rem;

  input {
    margin-bottom: get-size("500");
    padding: 0.3rem;
  }

  .buttonContainer {
    display: flex;
    align-items: start;
  }

  button,
  .button {
    cursor: pointer;
    margin-right: get-size("500");
  }
}

.fundBtnContainer {
  display: flex;
  align-items: start;
  flex-wrap: wrap;

  .button {
    cursor: pointer;
    margin-right: get-size("500");
    margin-top: get-size("500");
  }
}
