<article class="visually-hidden" id="successPage" aria-hidden="true">
  <h2 class="text-800 weight-bold">
    Signup Successfully
    <span class="weight-normal text-600">Now on the waiting list </span>
  </h2>

  <div>
    <p>
      To be able to deliver optimally on the site, we put our newly signed-up
      users on a one day waiting list.
    </p>
    <p>
      After 24hrs, we will send a special welcome email. In it, you will find
      instructions on how to login to your portal and get started.
    </p>
    <p>
      In the meantime, let us introduce to you our
      <a href="https://keke.blog">top notched industry financial blog</a>. Visit
      <a href="https://keke.blog">
        <span class="site-name">Keke<span>.</span>blog</span> </a
      >, for all your financial advices and tips, written by our people.
    </p>
    <p>
      <strong>
        Tomorrow, please check your mailbox for our message. Thanks.
      </strong>
    </p>
  </div>
</article>
